:root .page.theme_dark {
  --main-font: "IBM Plex mono";
  --bg-color: rgba(0, 0, 40, 1);
  --paragraph-color: rgba(0, 0, 40, 1);
  --title-decor-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --button-color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --title-color: rgba(219, 0, 255, 1);
  --heading-color: rgba(255, 0, 112, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --title-shadow-color-max: rgba(255, 0, 112, 1);
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.page {
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

@media screen and (1024px <= height) {
  .page {
    background-size: 100vw 100vh;
  }
}

.header {
  padding: 10px;
  block-size: max(668px, 100vh);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
  top: 10px;
  right: 10px;
}

@media screen and (768px <= width <= 1440px) {
  .decorated-zone:before {
    top: 20px;
    right: 20px;
  }
}

@media screen and (768px <= width <= 1440px) {
  .decorated-zone:before {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone:after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-inline-start: 1px solid var(--button-color);
  border-block-end: 1px solid var(--button-color);
  bottom: 10px;
  left: 10px;
}

@media screen and (768px <= width <= 1440px) {
  .decorated-zone:after {
    bottom: 20px;
    left: 20px;
  }
}

.rec-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 19px;
  justify-self: end;
  line-height: 23.4px;
}

@media screen and (768px <= width <= 1440px) {
  .rec-container {
    top: 21px;
    right: 29px;
  }
}

.rec-container:before {
  content: "REC";
  position: relative;
  color: var(--accent-color);
  text-align: center;
  letter-spacing: 1.2px;
}

.rec-container:after {
  content: "";
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu-list {
  list-style: none;
  display: grid;
  justify-content: end;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
  }
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    display: grid;
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: inherit;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
  line-height: 18px;
  text-align: center;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 6rem;
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  justify-self: start;
}

@media screen and (min-width: 768px) {
  .title {
    margin-inline-start: -20px;
    font-size: 15.6vw;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    line-height: 8rem;
    font-size: min(15.33vw, 157px);
  }
}

@media screen and (min-width: 1024px) {
  .theme_auto .title {
    text-shadow: 4px 4px 0 var(--title-shadow-color-max, rgba(255, 0, 112, 1));
  }
}

.title-decor {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  color: var(--title-decor-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
}

.header__paragraph {
  color: var(--paragraph-color);
  justify-self: end;
}

@media screen and (375px < width <= 768px) {
  .header__paragraph {
    inline-size: max(50%, 364px);
  }
}

@media screen and (768px < width) {
  .header__paragraph {
    inline-size: min(50%, 491px);
  }
}

.cover {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 60px 20px;
    gap: 80px;
  }
}

.heading {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  text-align: start;
  color: var(--heading-color);
  line-height: 23.4px;
}

.description_container {
  display: grid;
  gap: 20px;
}

@media screen and (768px <= width) {
  .description_container {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (768px < width) {
  .description_container {
    gap: 10px;
  }
}

.dopamine {
  margin-block-start: 20px;
}

.content_paragraph {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block: 10px 0;
}

.content_link {
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.content_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content_link:focus {
  outline: 1px solid var(--text-color);
  color: var(--text-color);
  border: none;
}

.reason {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 20px;
}

.reason-container {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .reason_title {
    max-inline-size: calc(100vw / 3 - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .reason-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advice {
  font-weight: 400;
  margin-block-start: 20px;
}

.gallery_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
}

@media screen and (min-width: 768px) {
  .gallery_container {
    display: grid;
    gap: 20px;
    padding-block-start: 20px;
  }

  .advice_image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  .item_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .item_ice-cream {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    object-position: center;
  }

  .item_tape {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    object-position: center;
  }

  .item_books {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

.be_in_focus {
  padding: 10px;
  block-size: max(668px, 100vh);
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media screen and (min-width: 768px) {
  .be_in_focus {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer_title {
    margin-inline-start: 0;
  }
}
