:root .page.theme_dark {
  --main-font: "IBM Plex mono";
  --bg-color: rgba(0, 0, 40, 1);
  --paragraph-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --button-color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --title-color: rgba(219, 0, 255, 1);
  --heading-color: rgba(255, 0, 112, 1);
}
.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.page {
  margin: 0.625rem;
  color: var(--text-color, rgba(241, 178, 206, 1));
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, rgba(0, 0, 40, 1));
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 1.25rem;
  }
}

.header {
  min-block-size: calc(100vh - 1.25rem);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    min-block-size: calc(100vh - 2.5rem);
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-block-start: 1px solid var(--button-color, rgba(255, 0, 112, 1));
  border-inline-end: 1px solid var(--button-color, rgba(255, 0, 112, 1));
  top: 0;
  right: 0;
}

.decorated-zone:after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-inline-start: 1px solid var(--button-color, rgba(255, 0, 112, 1));
  border-block-end: 1px solid var(--button-color, rgba(255, 0, 112, 1));
  bottom: 0;
  left: 0;
}

.rec_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0.625rem;
  justify-self: end;
  line-height: 1.5rem;
}

.rec_container:before {
  content: "REC";
  position: relative;
  color: var(--accent-color, rgba(255, 0, 112, 1));
  text-align: center;
  letter-spacing: 1px;
}

.rec_container:after {
  content: "";
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgba(255, 0, 112, 1));
  margin-left: 9px;
}

.header__theme-menu-list {
  list-style: none;
  display: grid;
  justify-content: end;
  gap: 10px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
  }
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    display: grid;
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: inherit;
  border: none;
  font-size: 18px;
  text-transform: lowercase;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--button-color, rgba(255, 0, 112, 1));
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color, rgba(53, 52, 48, 1));
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover, rgba(255, 0, 112, 0.4));
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--button-color, rgba(255, 0, 112, 1));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, rgba(53, 52, 48, 1));
}

.title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  font-weight: 700;
  color: var(--title-color, rgba(219, 0, 255, 1));
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 0;
  justify-self: start;
}

@media screen and (min-width: 768px) {
  .title {
    margin-inline-start: -20px;
  }
}

@media screen and (1024px<=width<=1440px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.title-decor {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  color: var(--title-decor-color, rgba(53, 52, 48, 1));
  background-color: var(--accent-color, rgba(255, 0, 112, 1));
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
}

.header_paragraph {
  color: var(--paragraph-color, rgba(0, 0, 40, 1));
  justify-self: end;
}

@media screen and (375px<width<=768px) {
  .header_paragraph {
    min-inline-size: 364px;
    max-inline-size: calc(100vw / 2 - 1.25rem);
  }
}

@media screen and (768px<width<=1440px) {
  .header_paragraph {
    max-inline-size: 491px;
  }
}

.cover {
  display: flex;
  flex-direction: column;
  margin-block: 50px;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-block: 80px;
    gap: 80px;
  }
}

.heading {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  text-align: start;
  color: var(--heading-color, rgba(255, 0, 112, 1));
  margin: 0;
  line-height: 23.4px;
}

.why_container {
  display: grid;
  gap: 20px;
}

@media screen and (768px<=width<=1440px) {
  .why_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media screen and (768px<width<=1440px) {
  .why_container {
    gap: 10px;
  }
}

.dopamine {
  margin-block-start: 20px;
}

.content_paragraph {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block: 10px 0;
}

.content_link {
  color: var(--text-color, rgba(241, 178, 206, 1));
  text-shadow: 1px 1px 0 var(--accent-color, rgba(255, 0, 112, 1));
  text-decoration: none;
}

.content_link:hover {
  border-bottom: 1px solid var(--text-color, rgba(241, 178, 206, 1));
}

.content_link:focus {
  outline: 1px solid var(--text-color, rgba(241, 178, 206, 1));
  color: var(--text-color, rgba(241, 178, 206, 1));
  border: none;
}

.reason {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 20px;
}

.reason-container {
  display: grid;
  gap: 20px;
}

@media screen and (768px<=width<=1440px) {
  .reason_title {
    max-inline-size: calc(100vw / 3 - 3.25rem);
  }
}

@media screen and (min-width: 1024px) {
  .reason-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.advice {
  font-weight: 400;
  margin-block-start: 1.25rem;
}

.gallery_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 0.625rem 0;
}

@media screen and (min-width: 768px) {
  .gallery_container {
    display: grid;
    gap: 20px;
    margin-block: 1.25rem 0;
  }

  .advice_image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
  }

  .item_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .item_ice-cream {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    object-position: center;
  }

  .item_tape {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    object-position: center;
  }

  .item_books {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

.be_in_focus {
  min-block-size: calc(100vh - 20px);
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color, rgba(255, 0, 112, 1));
}

@media screen and (min-width: 768px) {
  .be_in_focus {
    min-block-size: calc(100vh - 40px);
    display: grid;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .footer_title {
    margin-inline-start: 0;
  }
}
