:root .page.theme_light {
  --bg-color: rgba(255, 241, 247, 1);
  --paragraph-color: rgba(53, 52, 48, 1);
  --title-decor-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --title-color: rgba(255, 194, 230, 1);
  --heading-color: rgba(53, 52, 48, 1);
  --link-color: rgba(53, 52, 48, 1);
  --title-shadow-color: rgba(255, 141, 203, 1);
  --title-shadow-color-max: rgba(255, 0, 112, 1);
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  object-position: center;
}

.theme_light .rec_container {
  display: none;
}



.heading {
  color: var(--heading-color);
}

.content_link {
  color: var(--text-color);
  text-shadow: 1px 1px 0 var(--accent-color);
}

@media screen and (min-width: 1024px) {
  .title {
    text-shadow: 4px 4px 0 var(--title-shadow-color-max);
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: rgba(255, 241, 247, 1);
    --paragraph-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --title-color: rgba(255, 194, 230, 1);
    --heading-color: rgba(53, 52, 48, 1);
    --link-color: rgba(53, 52, 48, 1);
    background-image: url(../images/cover-image-light.png);
  }

  .theme_light .rec_container {
    display: none;
  }

  .theme_auto .rec_container {
    display: none;
  }
}
